<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Todos Mis Servicios - TMS</title>
		<!-- Bootstrap core CSS -->
		<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="{{ url_for('static', filename='round-about.css') }}" rel="stylesheet">
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
			<div class="container">
				<a class="navbar-brand" href="#">Todos Mis Servicios</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">Principal
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Acerca</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Servicios</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contáctenos</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Page Content -->
		<div class="container">
			
			<!-- Introduction Row -->
			<h1>Servicios</h1>
			<p>Aquí encontrarás los servicios de Juan Pérez.</p>
			<!-- Team Members Row -->
			<div class="row">
				<div class="col-2">
					<h2 class="my-4">Juan Pérez</h2>
					<img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/100x100" alt="">
				</div>
				<div class="col-10 float-right">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nombre</th>
								<th scope="col">Dirección</th>
								<th scope="col">Teléfono</th>
								<th scope="col">Acción</th>
							</tr>
						</thead>
						<tbody>
							{% for servicio in servicios %}
								<tr>
									<th scope="row">{{loop.index}}</th>
									<td>{{servicio.nombre}}</td>
									<td>{{servicio.direccion}}</td>
									<td>{{servicio.telefono}}</td>
									<td><a href="/ver/{{servicio.id}}">Ver</a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- /.container -->
		<!-- Footer -->
		<footer class="py-3 bg-dark fixed-bottom">
			<div class="container">
				<p class="m-0 text-center text-white">Copyright &copy; TMS 2018</p>
			</div>
			<!-- /.container -->
		</footer>
		<!-- Bootstrap core JavaScript -->
		<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	</body>
</html>