/* Styles go here */

h1 {
  text-align: center;
}

#site-description {
  text-align: justify;
}

#site-description ~ div {
  border: solid 1pt black;
  background-color: Seashell;
  padding: 10pt;
  margin: 0 0 10pt 0;
}

div.card img+p::first-letter {
  font-size: 200%;
  font-weight: bold;
}

img[alt*="cat"] {
  border: 2pt dashed black;
}

img:hover {
  opacity: 0.5;
  cursor: pointer;
}

div.card p:nth-child(4) {
  display: none;
}

div.card {
  display: inline-block;
  width: 40%;
  height: 420px;
}